.col-12 h4,
p {
    text-align: left;
    color: black;
    margin-top: 1rem;
}

#container {
    width: 100%;
    padding: 30px 0px;
}

.img {
    margin-right: 10px;
}

.center {
    position: absolute;
    left: 30%;
}

@media (max-width:900px) {
    .center {
        position: absolute;
        left: 20%;
    }
}

@media (max-width:576px) {
    .center {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 3rem;
        padding: 40px;
    }
    #col {
        padding: 0px 40px;
    }
}